@import "tailwindcss";
button {
    border-radius: 8px;
    border: 2px solid transparent;
    font-family: inherit;
    color: white;
    background-color: #585858;
    cursor: pointer;
    text-align: center;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #e89e60;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    font-size: 22px;
}
label {
    font-size: 22px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.hmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
