@import "tailwindcss";

button {
    border-radius: 8px;
    border: 2px solid transparent;
    font-family: inherit;
    color: white;
    @apply disabled:bg-gray-400 enabled:bg-gray-500 enabled:cursor-pointer enabled:transition-colors duration-250;
    text-align: center;
    transition: border-color 0.25s;
}

button:hover {
    @apply enabled:border-amber-500 disabled:border-0
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input {
    font-size: 22px;
}

label {
    font-size: 22px;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    @apply backdrop-blur-sm
}

.hmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    @apply backdrop-blur-sm
}

.panelButton {
    @apply not-hover:bg-amber-100 hover:bg-amber-200 transition-all duration-300 hover:cursor-pointer hover:scale-110
}

.eventButton {
    @apply rounded-xl p-2 w-100
}

.slider {
    -webkit-appearance: none;
    @apply block h-4 bg-white border border-b-gray-400 rounded-md focus:border-blue-500 focus:outline-none focus:ring appearance-none bg-transparent
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    @apply h-4 bg-gray-500
}

.slider::-moz-range-thumb {
    @apply h-5 w-8 rounded-4xl bg-gray-300
}

a {
    @apply text-blue-500
}